<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>切图仔救赎-Node学习之express做一个本地CURD</title>
    <link rel="stylesheet" href="/public/style/reset.css">
    <link rel="stylesheet" href="/public/style/">
</head>
<body>
    <header>
        <div class="title">CURD</div>
    </header>
    <div class="main">
        <nav class="sidebar">
            <ul>
                <li>本地保存</li>
            </ul>
        </nav>
        <div class="content">
            
        </div>
    </div>
</body>
</html>