<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
    link(href='/public/style/reset.css' type='text/css' rel='stylesheet')
    link(href='/public/style/style.css' type='text/css' rel='stylesheet')
  body
    Header
      div.title CURD
    div.main
      nav.sidebar
        div.user
          div.avatar
            img(src="/public/img/avatar.jpg", alt="头像")
          div.title
            h1 Che Dabang
            p 前端搬砖仔
        ul
          li.active 本地Json版本
      div.content
        div.head
          h2.title 添加食物
        div.page
          form(action="/new" method="post")
            div.form-grounp
              label 姓名：
              input(name='name')
            div.form-grounp
              label 类型：
              input(name='type') 
            div.form-grounp
              label 价格：
              input(name='price')
            button(type="sbumit" class="sbumit") 提交


